
old.py
ressources/sprites/bed.png
ressources/sprites/characters/enemy1/xeno-grunt-attack-1.png
ressources/sprites/characters/enemy1/xeno-grunt-attack-2.png
ressources/sprites/characters/enemy1/xeno-grunt-death-falling.png
ressources/sprites/characters/enemy1/xeno-grunt-death-grounded.png
ressources/sprites/characters/enemy1/xeno-grunt-falling.png
ressources/sprites/characters/enemy1/xeno-grunt-idle.png
ressources/sprites/characters/enemy1/xeno-grunt-jump-effect.png
ressources/sprites/characters/enemy1/xeno-grunt-jumping.png
ressources/sprites/characters/enemy1/xeno-grunt-knockback.png
ressources/sprites/characters/enemy1/xeno-grunt-prep-jump.png
ressources/sprites/characters/enemy1/xeno-grunt-projectile-explosion.png
ressources/sprites/characters/enemy1/xeno-grunt-range-attack.png
ressources/sprites/characters/enemy1/xeno-grunt-range-projectile.png
ressources/sprites/characters/enemy1/xeno-grunt-run.png
ressources/sprites/characters/player_air - Copie.png
ressources/sprites/characters/player_snow.png
ressources/sprites/objects/chest_01.png
ressources/sprites/objects/objects.png
ressources/sprites/particles/dust_particles_01.png
ressources/sprites/tilesets/decor_16x16.png
ressources/sprites/tilesets/decor_8x8.png
ressources/sprites/tilesets/fences.png
ressources/sprites/tilesets/floors/wooden.png
ressources/sprites/tilesets/grass.png
ressources/sprites/tilesets/plains.png
ressources/sprites/tilesets/walls/walls.png
ressources/sprites/tilesets/walls/wooden_door.png
ressources/sprites/tilesets/walls/wooden_door_b.png
ressources/sprites/tilesets/water_decorations.png
